@model IQueryable<Kata>

<div>
    <div class="mb-3">
        <a class="btn btn-outline-dark" asp-controller="Admin" asp-action="Users">Список студентов</a>
    </div>
    <div class="mb-3">
        <a class="btn btn-outline-dark" asp-controller="Admin" asp-action="Edit">Создать задание</a>
    </div>
</div>


<div>
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="fs-2">Задания:</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>
                            <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Solve" asp-route-id="@item.Id">@($"{item.Name}\t({item.Language.Name})")</a>
                        </th>
                        <th>
                            <a class="btn btn-primary" asp-controller="Admin" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                        </th>
                        <th>
                            <form asp-action="Delete" asp-controller="Admin" method="post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button class="btn btn-danger">Удалить</button>
                            </form>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="fs-3">Список заданий пуст</div>
    }
</div>